<div class="cards">
  <div class="fondo">
    <div class="wrapper">
      <div class="section-image">
        <img src="../../assets/img/image1.png" alt="">
        <p>Pide un deseo de cumpleaños</p>
        <div class="arrow">
          <img src="../../assets/img/arrow.png" alt="">
        </div>
      </div>

      <div class="section-image">
        <img src="../../assets/img/image2.png" alt="">
        <p>Comparte con amigos de toda la vida</p>
        <div class="arrow">
          <img src="../../assets/img/arrow.png" alt="">
        </div>
      </div>

      <div class="section-image">
        <img src="../../assets/img/image3.png" alt="">
        <p>Sigue viviendo experiencias únicas</p>
        <div class="arrow">
          <img src="../../assets/img/arrow.png" alt="">
        </div>
      </div>

      <div class="section-image">
        <img src="../../assets/img/image4.png" alt="">
        <p>Recibe el regalo que tanto esperabas</p>
        <div class="arrow">
          <img src="../../assets/img/arrow.png" alt="">
        </div>
        <p>En este día especial queremos que todos tus deseos se cumplan.</p>

        <p> No solo los imagines,
          ¡hazlos realidad con nosotros!</p>
        <img src="../../assets/img/banner-cumple.png" alt="">
        <p>Te deseamos tus amigos de</p>
        <img src="../../assets/img/kore-zuma.png" alt="">
      </div>
    </div>
  </div>
</div>
