* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'allerbold';
  src: url('assets/fonts/aller_bd.woff2') format('woff2'),
  url('assets/fonts/aller_bd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fondo {
  background-image: linear-gradient(90deg, rgb(53, 181, 74) 0%, rgb(112, 195, 65) 45%, rgb(171, 209, 55) 100%);
}
